
.head {
    color: white;
    text-align: center;
    background-image: url("h_img.jpg");
    background-size: cover;
    height: auto;
    padding: 90px 0px;
    
}

.text {
    font-size: 35px;
}

.textsmall {
    font-size: 16px;
}

.about {
    font-size: 18px;
    text-align: center;
    padding: 0px 70px;
}
