
.head {
    color: white;
    text-align: center;
    background-image: url("h_img.jpg");
    background-size: cover;
    height: auto;
    padding: 90px 0px;
    
}

.text {
    font-size: 35px;
}

.textsmall {
    font-size: 16px;
}

.about {
    height: 400px;
    font-size: 18px;
    text-align: center;
    padding: 0px 70px;
}

.services {
    background-image: url("s_image.jpg");
    background-size: cover;
    height: 400px;
    text-align: center;
    color: white;
}

.services h2 {
    color: white;
}

.work {
    text-align: center;
    font-size: 10px;
}

.portofolio {
    text-align: center;
    align-content: center;
    padding: 10px 90px
}

.above {
    padding: 20px;
}

.contact {
     background-image: url("c_image.jpg");
}

input {
    width: 400px;
}
